/DictionaryDto/bin/Debug/Microsoft.Web.Infrastructure.dll
/DictionaryDto/bin/Debug/System.Web.Helpers.dll
/DictionaryDto/bin/Debug/System.Web.Helpers.xml
/DictionaryDto/bin/Debug/System.Web.Mvc.dll
/DictionaryDto/bin/Debug/System.Web.Mvc.xml
/DictionaryDto/bin/Debug/System.Web.Razor.dll
/DictionaryDto/bin/Debug/System.Web.Razor.xml
/DictionaryDto/bin/Debug/System.Web.WebPages.Deployment.dll
/DictionaryDto/bin/Debug/System.Web.WebPages.Deployment.xml
/DictionaryDto/bin/Debug/System.Web.WebPages.Razor.dll
/DictionaryDto/bin/Debug/System.Web.WebPages.Razor.xml
/DictionaryDto/bin/Debug/System.Web.WebPages.dll
/DictionaryDto/bin/Debug/System.Web.WebPages.xml
/DictionaryDto/obj/Debug/DictionaryDto.csproj.CopyComplete
/DictionaryEntities/bin/Debug/DictionaryHelper.dll
/DictionaryEntities/bin/Debug/DictionaryHelper.pdb
/DictionaryEntities/bin/Debug/Microsoft.Web.Infrastructure.dll
/DictionaryEntities/bin/Debug/System.Web.Mvc.dll
/DictionaryEntities/bin/Debug/System.Web.Mvc.xml
/DictionaryEntities/bin/Debug/System.Web.Razor.dll
/DictionaryEntities/bin/Debug/System.Web.Razor.xml
/DictionaryEntities/bin/Debug/System.Web.WebPages.Deployment.dll
/DictionaryEntities/bin/Debug/System.Web.WebPages.Deployment.xml
/DictionaryEntities/bin/Debug/System.Web.WebPages.Razor.dll
/DictionaryEntities/bin/Debug/System.Web.WebPages.Razor.xml
/DictionaryEntities/bin/Debug/System.Web.WebPages.dll
/DictionaryEntities/bin/Debug/System.Web.WebPages.xml
/DictionaryEntities/obj/Debug/DictionaryEntities.Migrations.AddTypeWordTable.resources
/DictionaryService/bin/Debug/DictionaryHelper.dll
/DictionaryService/bin/Debug/DictionaryHelper.pdb
/DictionaryService/bin/Debug/Microsoft.Web.Infrastructure.dll
/DictionaryService/bin/Debug/System.Web.Mvc.dll
/DictionaryService/bin/Debug/System.Web.Mvc.xml
/DictionaryService/bin/Debug/System.Web.Razor.dll
/DictionaryService/bin/Debug/System.Web.Razor.xml
/DictionaryService/bin/Debug/System.Web.WebPages.Deployment.dll
/DictionaryService/bin/Debug/System.Web.WebPages.Deployment.xml
/DictionaryService/bin/Debug/System.Web.WebPages.Razor.dll
/DictionaryService/bin/Debug/System.Web.WebPages.Razor.xml
/DictionaryService/bin/Debug/System.Web.WebPages.dll
/DictionaryService/bin/Debug/System.Web.WebPages.xml
/MyDictionary.Tests/bin/Debug/DictionaryHelper.dll
/MyDictionary.Tests/bin/Debug/DictionaryHelper.pdb
/MyDictionary/bin/DictionaryHelper.dll
/MyDictionary/bin/DictionaryHelper.pdb
/MyDictionary/.vs/MyDictionary/v16/Server/sqlite3/storage.ide-shm
/MyDictionary/.vs/MyDictionary/v16/Server/sqlite3/storage.ide-wal
