@{
    ViewBag.Title = "Home Page";
}

<div class="body-header">
    <p class="text-title">Title</p>
</div>
<div class="body-content">
    <div style="width:30%; margin:auto">
        <button class="btn btn-block btn-danger" onclick="window.location.href='/Challenge/Index'">Challenge</button>
        <button class="btn btn-block btn-primary" onclick="window.location.href='/Admin/Word/WordList'">Word List</button>
        <hr/>
        <select id="selectedTheme" class="form-control" style="text-align-last:center" onclick="changeTheme();">
            <option value="Dark" selected>Dark Theme</option>
            <option value="Light">Light Theme</option>
        </select>
    </div>
</div>