@model DictionaryDto.MeaningDto

<div class="body-header">
    <button class="btn btn-success"
            name="btnExampleModal"
            data-toggle="modal"
            data-target="#exampleModal"
            data-examplemodel="@Json.Encode(new DictionaryDto.ExampleDto() { MeaningId = Model.MeaningId })"
            data-backdrop="static"
            data-keyboard="false">
        Add Example
    </button>
</div>
<div class="body-content">
    <h3>@Html.Raw(Model.MeaningText)</h3>
    @{ Html.RenderPartial("~/Areas/Admin/Views/Example/ExampleList.cshtml", Model.ExampleList); }
    @{ Html.RenderPartial("~/Areas/Admin/Views/Example/_ExampleModal.cshtml"); }
</div>

<script>
    $(document).on("click", "button[name='btnExampleModal']", function () {
        var model = $(this).data('examplemodel');
        $("#exampleModal input[name='MeaningId']").val(model.MeaningId);
        $("#exampleModal input[name='ExampleId']").val(model.ExampleId);
        setValueCKEditor("ExampleText", model.ExampleText);
    });
</script>
