/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

body {
    margin:15px 0px;
    background-color: var(--background-color);
    color: var(--text-color);
}

.body-header {
    height:60px;
    overflow: auto;
}

.body-content {
    height: 500px;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.body-footer {
    height: 60px;
    overflow: auto;
}

.text-title {
    font-size: 34px;
    text-align: left;
    margin: 0px;
}

.text-content {
    font-size: 20px;
}

.body-header .text-title {
    padding: 5px;
}

.text-footer {
    text-align: right;
}

.modal-content {
    background-color: var(--background-color);
}

#meaningModal .modal-dialog, #exampleModal .modal-dialog {
    width: 1000px;
}

.row {
    overflow:auto;
    padding: 10px;
}

.text-body-table {
    padding: 8px !important;
    font-weight: normal;
}

table .btn {
    font-size: 12px !important;
}

.table-hover > tbody > tr:hover {
    background-color: #424549;
}

.answer-row {
    padding: 10px;
    margin: 20px;
    color: black;
    background-color: #fff;
    border-radius: 20px;
}

.answer-row:hover {
    background-color: #E5E5E5;
}

.answer-text {
    font-size: 18px;
    margin: 0px;
}

.answer-right {
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    color: #000;
    background-color: #7FBF7F !important;
}

.answer-wrong {
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    color: #000;
    background-color: #FF7F7F !important;
}

th.text-body-table {
    font-size: 15px;
}

#wordlist #addword {
    margin: 12px;
}

#wordlist .pagination-container {
    text-align: right;
    float: right;
    margin: 5px;
}

#wordlist .pagination {
    margin: 5px 10px 5px 0px;
}