body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #36393e;
    color: #fff;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.modal-content {
    background-color: #36393e;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.row {
    overflow:auto;
    padding: 10px;
}

.text-body-table {
    padding: 15px !important;
    font-weight: normal;
}

table .btn {
    font-size: 12px !important;
}

.table-hover > tbody > tr:hover {
    background-color: #424549;
}

.question-content {
    text-align: center;
}

.answer-content {
    height: 350px;
    overflow: auto;
}

.answer-row {
    padding: 10px;
    margin: 20px;
    color: black;
    background-color: #fff;
    border-radius: 20px;
}

.answer-row:hover {
    background-color: #E5E5E5;
}

.answer-text {
    font-size: 18px;
    margin: 0px;
}

.answer-right {
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    color: #000;
    background-color: #7FBF7F !important;
}

.answer-wrong {
    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    color: #000;
    background-color: #FF7F7F !important;
}
