<!-- Modal -->
<div id="challengeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <form action="/Challenge/CreateQuestion" method="post">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Challenge</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Level:</label>
                        </div>
                        <div class="col-lg-8">
                            <input type="number" name="MaxLevel" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Start</button>
                </div>
            </div>
        </form>
    </div>
</div>

