@{
    ViewBag.Title = "Home Page";
}

<div class="content">
    <select id="selectedTheme" onclick="changeTheme();">
        <option value="Dark" selected>Dark</option>
        <option value="Light">Light</option>
    </select>
    <div style="text-align:center">
        <a class="btn btn-danger" href="/Challenge/Index" style="margin-right:50px;">Challenge</a>
        <a class="btn btn-primary" href="/Word/WordList">Word List</a>
    </div>
</div>
